

<form #weblinkForm="ngForm">
  <div *ngIf="weblinkId>0 || isCreateNew">
    <label>Description: </label><input id="description" type="text" [(ngModel)]="weblink.description" name="description" #name="ngModel" />
    <label>Url: </label><input id="url" name="url" type="url" [(ngModel)]="weblink.url" #url="ngModel" />

    <div *ngIf="isCreateNew; then newWeblink; else updateWeblink"></div>
    <ng-template #updateWeblink>
      <button (click)="Update()">Update</button>
    </ng-template> 
    <ng-template #newWeblink>
      <button (click)="AddNew()">Save</button>
    </ng-template>
    <button (click)="Cancel()">Cancel</button>
  </div>
</form>
<div>{{weblink | json}}</div>