


<h2>Web Utilities</h2>

<button (click)="clickNew()">New</button>
<div *ngIf="isNewClicked">
  <app-weblink-detail [weblink]="creatNew()"></app-weblink-detail>
</div>


<div class="weblink">
  <div *ngFor="let weblink of allWeblinks">
    <div class="badge">{{weblink.id}}<a href= "{{weblink.url}}" target="_blank">{{weblink.description}}</a>
      <button (click)="onSelect(weblink)">Edit</button> 

      <!-- <a routerLink="/detail/{{weblink.id}}"><span>Edit</span></a> -->
      <button class="delete" title="delete link" (click)="delete(weblink)">x</button>
      <div *ngIf="weblink===selectedWeblink">
        <app-weblink-detail [weblink]="selectedWeblink"></app-weblink-detail>
      </div>
    </div>
  </div>
</div>
 


<!-- <router-outlet></router-outlet> -->

<app-messages></app-messages>